In [27]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/pythonpro-digital-edu/train.csv
/kaggle/input/pythonpro-digital-edu/test.csv

In [28]:
import pandas as pd

In [29]:
df = pd.read_csv('/kaggle/input/pythonpro-digital-edu/train.csv')
df.head(20)

,id,sex,bdate,has_photo,has_mobile,followers_count,graduation,education_form,relation,education_status,langs,life_main,people_main,city,last_seen,occupation_type,occupation_name,career_start,career_end,result
0,64100,2,23.4.1990,1,1.0,150.0,2012.0,Full-time,2.0,Student (Specialist),Русский;English,0,0,Kaliningrad,2020-08-19 20:47:43,university,"БФУ им. Канта (бывш. РГУ им. Канта, КГУ)",False,False,0
1,46851,2,11.4,0,1.0,92.0,2011.0,Distance Learning,4.0,Alumnus (Specialist),Русский,0,0,NaN,2020-12-25 10:31:53,university,ЛНУ (бывш. ЛНПУ) им. Тараса Шевченко,False,False,0
2,13159,2,5.10,0,1.0,62.0,2012.0,Full-time,0.0,Alumnus (Specialist),Русский,0,6,Mogilev,2020-03-06 03:37:47,university,"БРУ (бывш. МГТУ, ММИ)",False,False,0
3,59148,1,1.3.1967,0,1.0,179.0,1989.0,Full-time,4.0,PhD,Русский,False,False,Moscow,2020-10-10 18:06:27,university,Bodø Graduate School of Business,False,False,0
4,46429,2,NaN,0,1.0,74.0,2008.0,Full-time,7.0,Alumnus (Specialist),Русский,3,2,Ryazan,2020-01-03 03:34:09,university,"РГРТУ (бывш. РГРТА, РРТИ)",False,False,0
5,58719,1,13.2,0,1.0,142.0,2009.0,NaN,0.0,Alumnus (Specialist),False,0,0,Moscow,2020-05-07 14:36:26,work,www.lepic-gallery.com,2010,False,1
6,48095,1,31.10,0,1.0,751.0,2021.0,NaN,0.0,Student (Bachelor's),Русский,0,0,Moscow,2020-04-11 08:47:01,university,ММУ (МУМ),2018,False,1
7,4093,2,1.5.1990,0,1.0,112.0,2014.0,Distance Learning,4.0,PhD,Русский,1,2,NaN,2020-11-26 16:03:50,university,СГАСУ (БФ),2010,2015,0
8,63172,1,6.6.1990,1,1.0,318.0,2012.0,Full-time,4.0,Student (Bachelor's),False,0,0,Izhevsk,2020-03-21 18:05:54,work,"АКБ ""Ижкомбанк"" ПАО",2007,False,1
9,63848,1,2.10,1,1.0,294.0,2018.0,Distance Learning,0.0,Student (Specialist),Русский,False,False,Yekaterinburg,2020-12-22 10:06:14,university,УрФУ им. первого Президента России Б. Н. Ельцина,False,False,1
10,66760,1,31.1.1990,0,1.0,77.0,2011.0,Full-time,1.0,Student (Bachelor's),False,0,0,NaN,2020-07-04 19:59:45,university,НИУ ВШЭ (ГУ-ВШЭ),False,False,1
11,4682,2,20.6,1,1.0,23.0,2007.0,Distance Learning,4.0,Alumnus (Specialist),Русский,0,0,Zheleznovodsk,2020-12-14 10:30:06,university,ЮУ (ИУБиП),False,False,0
12,81358,1,11.6,1,1.0,3148.0,2010.0,Part-time,6.0,Alumnus (Specialist),Русский,0,0,Ryazan,2020-04-23 11:37:54,work,Комп & Кофе | интернет-маркетинг,2007,False,1
13,2,2,15.3.1985,1,1.0,86.0,2010.0,Full-time,4.0,Student (Specialist),False,False,False,Irkutsk,2020-11-07 20:03:54,university,"ИРНИТУ (бывш. НИ ИрГТУ, ИПИ)",False,False,0
14,17951,2,NaN,0,1.0,89.0,2013.0,Full-time,4.0,Student (Bachelor's),Русский;English;Українська,6,2,Cherkassy,2020-09-19 03:03:28,university,ЧГТУ (бывш. ЧИТИ),False,False,0
15,64151,2,22.3,1,1.0,243.0,2018.0,Distance Learning,0.0,Student (Specialist),False,0,0,Khabarovsk,2020-03-14 20:58:39,university,"ТОГУ (бывш. ХПИ, ХГТУ)",False,False,0
16,62802,2,4.11.1993,1,1.0,322.0,2015.0,Part-time,4.0,Student (Bachelor's),Русский,0,2,Saint Petersburg,2020-05-13 16:32:00,university,НГУ им. П. Ф. Лесгафта (бывш. СПбГУФК),False,False,0
17,1865,2,13.4.1987,0,1.0,212.0,2010.0,Full-time,0.0,Alumnus (Specialist),False,False,False,Saint Petersburg,2020-04-21 01:08:09,university,НИУ МЭИ,False,False,0
18,50575,2,18.5.1983,0,1.0,62.0,2006.0,Full-time,4.0,Alumnus (Specialist),Українська,5,2,NaN,2020-12-14 23:15:16,university,НУ «ЛП»,2007,2011,0
19,19315,2,21.11,1,1.0,86.0,1986.0,Full-time,1.0,Alumnus (Specialist),Русский,0,0,Moscow,2020-01-30 00:32:16,work,"Спортивный клуб ""СИНТЕЗ""",1980,False,0

In [30]:
various = list()
def count_mean_bdata(row):
    if len(str(row['bdate'])) > 5:
        global various
        bd = row['bdate'].split('.')
        time = int(row['graduation']) - int(bd[2])
        if row['graduation'] != 0:
            various.append(time)
            return sum(various) / len(various)
    else:
        return row
        

df.apply(count_mean_bdata, axis=1)

0                                                    22.0
1       id                                            ...
2       id                                  13159
sex ...
3                                                    22.0
4       id                                      46429
...
                              ...
8188                                            24.635665
8189    id                                 29009
sex  ...
8190    id                                   62607
sex...
8191    id                                           4...
8192                                             24.63499
Length: 8193, dtype: object

In [31]:
def fill_age(row):
    if len(str(row['bdate'])) > 5:
        age = str(row['bdate'])
        age = age.split('.')
        row['bdate'] = age[2]
        return row
    elif len(str(row['bdate'])) < 5 and row['graduation'] != 0.0:
        age = int(row['graduation']) -  25
        row['bdate'] = int(age)
        return row
    elif row['bdate'] == 'NaN' and row['graduation'] != 0.0:
        age = int(row['graduation']) -  25
        row['bdate'] = int(age)
        return row
    else:
        return row
df= df.apply(fill_age, axis=1)

In [32]:
df[(df['occupation_type'] == 'university')]['bdate'].median()

1987.0

In [49]:
df[(df['occupation_type'] == 'university')]['bdate'].median()

,sex,bdate,has_photo,has_mobile,followers_count,graduation,education_form,relation,education_status,life_main,people_main,last_seen,occupation_type,career_start,result
0,2,1990,1,1.0,150.0,2012.0,1,2.0,2,0,0,2020-08-19 20:47:43,0,0,0
1,2,1986,0,1.0,92.0,2011.0,2,4.0,1,0,0,2020-12-25 10:31:53,0,0,0
2,2,1987,0,1.0,62.0,2012.0,1,0.0,1,0,6,2020-03-06 03:37:47,0,0,0
3,1,1967,0,1.0,179.0,1989.0,1,4.0,6,False,False,2020-10-10 18:06:27,0,0,0
4,2,1983,0,1.0,74.0,2008.0,1,7.0,1,3,2,2020-01-03 03:34:09,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8188,1,1987,0,1.0,75.0,2013.0,3,0.0,3,6,2,2020-08-25 08:58:42,0,0,0
8189,2,1987,0,1.0,726.0,0.0,1,0.0,4,0,0,2020-03-28 02:25:55,0,0,0
8190,1,1983,1,1.0,448.0,2008.0,1,0.0,4,0,6,2020-01-28 11:01:26,1,1,1
8191,2,2000,1,1.0,2063.0,2025.0,2,1.0,1,6,6,2020-07-01 16:40:54,1,1,0
8192,2,1986,0,1.0,876.0,2008.0,1,4.0,7,0,0,2020-09-27 01:00:11,1,1,1

In [33]:
df['bdate'].fillna(1987,inplace=True)

In [34]:
def fill_education_form(row):
    if row['education_form'] == 'Full-time':
        row['education_form'] = 1
        return row
    elif row['education_form'] == 'Distance Learning':
        row['education_form'] = 2
        return row
    else: 
        row['education_form'] = 3
        return row
df = df.apply(fill_education_form, axis=1)
df.info()
df

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8193 entries, 0 to 8192
Data columns (total 20 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   id                8193 non-null   int64
 1   sex               8193 non-null   int64
 2   bdate             8193 non-null   object
 3   has_photo         8193 non-null   int64
 4   has_mobile        8193 non-null   float64
 5   followers_count   8193 non-null   float64
 6   graduation        8193 non-null   float64
 7   education_form    8193 non-null   int64
 8   relation          8193 non-null   float64
 9   education_status  8193 non-null   object
 10  langs             8193 non-null   object
 11  life_main         8193 non-null   object
 12  people_main       8193 non-null   object
 13  city              7611 non-null   object
 14  last_seen         8193 non-null   object
 15  occupation_type   8000 non-null   object
 16  occupation_name   8000 non-null   object
 17  career_start      8193 non-null   object
 18  career_end        8193 non-null   object
 19  result            8193 non-null   int64
dtypes: float64(4), int64(5), object(11)
memory usage: 1.3+ MB

,id,sex,bdate,has_photo,has_mobile,followers_count,graduation,education_form,relation,education_status,langs,life_main,people_main,city,last_seen,occupation_type,occupation_name,career_start,career_end,result
0,64100,2,1990,1,1.0,150.0,2012.0,1,2.0,Student (Specialist),Русский;English,0,0,Kaliningrad,2020-08-19 20:47:43,university,"БФУ им. Канта (бывш. РГУ им. Канта, КГУ)",False,False,0
1,46851,2,1986,0,1.0,92.0,2011.0,2,4.0,Alumnus (Specialist),Русский,0,0,NaN,2020-12-25 10:31:53,university,ЛНУ (бывш. ЛНПУ) им. Тараса Шевченко,False,False,0
2,13159,2,1987,0,1.0,62.0,2012.0,1,0.0,Alumnus (Specialist),Русский,0,6,Mogilev,2020-03-06 03:37:47,university,"БРУ (бывш. МГТУ, ММИ)",False,False,0
3,59148,1,1967,0,1.0,179.0,1989.0,1,4.0,PhD,Русский,False,False,Moscow,2020-10-10 18:06:27,university,Bodø Graduate School of Business,False,False,0
4,46429,2,1983,0,1.0,74.0,2008.0,1,7.0,Alumnus (Specialist),Русский,3,2,Ryazan,2020-01-03 03:34:09,university,"РГРТУ (бывш. РГРТА, РРТИ)",False,False,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8188,70625,1,1987,0,1.0,75.0,2013.0,3,0.0,Student (Bachelor's),Русский,6,2,Moscow,2020-08-25 08:58:42,university,МСПИ (МОСПИ),False,False,0
8189,29009,2,1987,0,1.0,726.0,0.0,1,0.0,Alumnus (Bachelor's),Русский,0,0,Saint Petersburg,2020-03-28 02:25:55,university,СПбГТИ (ТУ),False,False,0
8190,62607,1,1983,1,1.0,448.0,2008.0,1,0.0,Alumnus (Bachelor's),Русский,0,6,Karaganda,2020-01-28 11:01:26,work,ТОО Eurasian Machinery,2010,False,1
8191,48342,2,2000,1,1.0,2063.0,2025.0,2,1.0,Alumnus (Specialist),Русский;English,6,6,Moscow,2020-07-01 16:40:54,work,Ремонт компьютеров и ноутбуков,2010,False,0
8192,67435,2,1986,0,1.0,876.0,2008.0,1,4.0,Student (Master's),Русский;English,0,0,NaN,2020-09-27 01:00:11,work,Агентство MUZA | MUZA.agency,2014,False,1

In [35]:
df.drop(['id',],axis=1, inplace = True)

In [36]:
df.drop(['occupation_name',], axis = 1, inplace=True)

In [37]:
def fill(row):
    if str(row['bdate']).find('.') > 0:
        row['bdate'] = 1987
        return row
    else:
        return row
df =df.apply(fill, axis=1)

In [38]:
df['bdate'] = df['bdate'].apply(int)
def int_bdate(row):
    row['bdate'] = int(row['bdate'])
    return row

In [39]:
df.drop(['city'], axis = 1, inplace=True)

In [40]:
# 1985
# 1986
df[(df['occupation_type'] == 'work')]['bdate'].mean()
def fill_occupy(row):
    if row['occupation_type'] == 'NaN':
        if row['bdate'] > 1986:
            row['occupation_type'] = 0
            return row
        else:
            row['occupation_type'] = 1
            return row
    else:
        if row['occupation_type'] == 'university':
            row['occupation_type'] = 0
            return row
        else:
            row['occupation_type'] = 1
            return row
df = df.apply(fill_occupy, axis = 1)

In [41]:
def fill_career_start(row):
    if row['career_start'] == 'False':
        row['career_start'] = 0
        return row
    else:
        row['career_start'] = 1

        return row
df = df.apply(fill_career_start, axis=1)

In [42]:
df.drop(['career_end', ], axis=1, inplace = True)

In [44]:

df

,sex,bdate,has_photo,has_mobile,followers_count,graduation,education_form,relation,education_status,langs,life_main,people_main,last_seen,occupation_type,career_start,result
0,2,1990,1,1.0,150.0,2012.0,1,2.0,Student (Specialist),Русский;English,0,0,2020-08-19 20:47:43,0,0,0
1,2,1986,0,1.0,92.0,2011.0,2,4.0,Alumnus (Specialist),Русский,0,0,2020-12-25 10:31:53,0,0,0
2,2,1987,0,1.0,62.0,2012.0,1,0.0,Alumnus (Specialist),Русский,0,6,2020-03-06 03:37:47,0,0,0
3,1,1967,0,1.0,179.0,1989.0,1,4.0,PhD,Русский,False,False,2020-10-10 18:06:27,0,0,0
4,2,1983,0,1.0,74.0,2008.0,1,7.0,Alumnus (Specialist),Русский,3,2,2020-01-03 03:34:09,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8188,1,1987,0,1.0,75.0,2013.0,3,0.0,Student (Bachelor's),Русский,6,2,2020-08-25 08:58:42,0,0,0
8189,2,1987,0,1.0,726.0,0.0,1,0.0,Alumnus (Bachelor's),Русский,0,0,2020-03-28 02:25:55,0,0,0
8190,1,1983,1,1.0,448.0,2008.0,1,0.0,Alumnus (Bachelor's),Русский,0,6,2020-01-28 11:01:26,1,1,1
8191,2,2000,1,1.0,2063.0,2025.0,2,1.0,Alumnus (Specialist),Русский;English,6,6,2020-07-01 16:40:54,1,1,0
8192,2,1986,0,1.0,876.0,2008.0,1,4.0,Student (Master's),Русский;English,0,0,2020-09-27 01:00:11,1,1,1

In [45]:
def fill_g(row):
    if row['education_status'] == 'Alumnus (Specialist)':
        row['education_status'] = 1
        return row
    elif row['education_status'] == 'Student (Specialist)':
        row['education_status'] = 2
        return row
    elif row['education_status'] == "Student (Bachelor's)":
        row['education_status'] = 3
        return row
    elif row['education_status'] == "Alumnus (Bachelor's)":
        row['education_status'] = 4
        return row
    elif row['education_status'] == "Alumnus (Master's)":
        row['education_status'] = 5
        return row
    elif row['education_status'] == 'PhD':
        row['education_status'] = 6
        return row
    elif row['education_status'] == "Student (Master's)":
        row['education_status'] = 7
        return row
    elif row['education_status'] == 'Undergraduate applicant':
        row['education_status'] = 7
        return row
    else:
        row['education_status'] = 7
        return row
df = df.apply(fill_g, axis = 1)

In [46]:
df.drop(['langs', ], axis=1, inplace = True)

In [ ]:
def last_seen(row):
    row['last_seen']=row['last_seen'][:4]
    return row
df = df.apply(last_seen, axis=1)

In [ ]:
def people_main(row):
    if row['people_main'] == 'False':
        row['people_main'] = 7
        return row
    else:
        row['people_main'] = row['people_main']
        return row
df = df.apply(people_main, axis = 1)

In [ ]:
def life_main(row):
    if row['life_main'] == 'False':
        row['life_main'] = 9
        return row
    else:
        row['life_main'] = row['life_main']
        return row
df = df.apply(life_main, axis = 1)

In [ ]:
def int_life_main(row):
    if type(row['life_main']) != 'int':
        row['life_main'] = int(row['life_main'])
        return row
    else:
        return row
df = df.apply(int_life_main, axis=1)

In [ ]:
def int_last_seen(row):
    if type(row['last_seen']) != 'int':
        row['last_seen'] = int(row['last_seen'])
        return row
    else:
        return row
df = df.apply(int_last_seen, axis=1)

In [ ]:
def int_people_main(row):
    if type(row['people_main']) != 'int':
        row['people_main'] = int(row['people_main'])
        return row
    else:
        return row
df = df.apply(int_people_main, axis=1)

In [ ]:
from sklearn.model_selection import train_test_split
y = df['result']
x = df.drop('result',axis=1)
x_train, x_test, y_train, y_test = train_test_split(x,
                                                    y,
                                                    test_size=0.25)
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
x_train = sc.fit_transform(x_train)                
x_test = sc.fit_transform(x_test)
from sklearn.neighbors import KNeighborsClassifier
classifier = KNeighborsClassifier(n_neighbors=7)          
classifier.fit(x_train, y_train)
y_pred = classifier.predict(x_test)
from sklearn.metrics import confusion_matrix, accuracy_score
print('Процент правильно предсказать итог:',accuracy_score(y_test,y_pred)*100)